---
import Layout from '../layouts/Layout.astro';
---

<Layout title="KindlyKlan">
  <main>
    <h1>Bienvenido a KindlyKlan</h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: 1200px;
  }
</style>
